
<div class="container1" style="font-family: sans-serif;">  
  
  <nav class="flex">  
    <img class="form-logo" src="assets/airplane.ico" width="45px" height="45px" style="align-content: left; margin-left: 5px; margin-top: 2px;" routerLink="/homes">   
    <span class="logoname" style="text-align: left; margin-left: 5px;">Flight Booking</span>
      
    <div class="logo">
      <ul>
        <li><a href="/homes">Home</a></li>
        <li><a>Airlines<i class="fas fa-caret-down"></i></a>
            <ul>
              <li><a href="/searchAirline">Search Airlines</a></li>
              <li><a href="/viewAirlines">View Airlines</a></li>
                <li><a href="/viewAirlines">Add Airline</a></li>
            </ul>
        </li>
        <li><a href="/manageAirline">Manage Airlines</a></li>

        <!-- <li><a>Discounts<i class="fas fa-caret-down"></i></a>
          <ul>
            <li><a href="#">Add Discounts</a></li>
          </ul>
        </li>
         -->

        <li><a href="/contacts">Contacts</a></li>

          <!-- <span class="example-spacer"></span> -->
          
      </ul>
    </div>
    <span class="example-spacer"></span>
    <button class="form-btn btn btn-primary-logout text-bold" (click)="logOut()">Log Out</button>
  </nav>
  <br><br>

  <div class="container"><br>

    <h4 style="text-align: center;"><strong>Airlines Details</strong></h4>

      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Air India" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Airline Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
            <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          </ng-container>
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">

              <div class="container-form-btn">
                <button class="form-btn btn btn-primary-logout text-bold" (click)="BlockAirline(row.id)">Block</button>
                <span>&nbsp;&nbsp;</span>
                <button class="form-btn btn btn-primary-back text-bold" (click)="UnblockAirline(row.id)">Unblock</button>
              </div>
            
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
  </div>
</div>

