
<div class="container1" style="font-family: sans-serif;">  
  
  <nav class="flex">  
    <img class="form-logo" src="assets/airplane.ico" width="45px" height="45px" style="align-content: left; margin-left: 5px; margin-top: 2px;" routerLink="/homes">   
    <span class="logoname" style="text-align: left; margin-left: 5px;">Flight Booking</span>
      
    <div class="logo">
      <ul>
        <li><a href="/homes">Home</a></li>
        <li><a>Airlines<i class="fas fa-caret-down"></i></a>
            <ul>
              <li><a href="#">Search Airlines</a></li>
              <li><a href="/viewAirlines">View Airlines</a></li>
                <li><a href="/viewAirlines">Add Airline</a></li>
            </ul>
        </li>
        <li><a href="/manageAirline">Manage Airlines</a></li>

        <!-- <li><a>Discounts<i class="fas fa-caret-down"></i></a>
          <ul>
            <li><a href="#">Add Discounts</a></li>
          </ul>
        </li>
         -->

        <li><a href="#">Contacts</a></li>

          <!-- <span class="example-spacer"></span> -->
          
      </ul>
    </div>
    <span class="example-spacer"></span>
    <button class="form-btn btn btn-primary-logout text-bold" (click)="logOut()">Log Out</button>
  </nav>
  </div>
