
<router-outlet></router-outlet>

<!-- <div class="container">
    <app-registration></app-registration>
</div> -->


<!-- <div>
<ul class="nav navbar-nav">
    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="">Home</a>
    </li>

    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="register">Register</a>
    </li>

    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="login">Login</a>
    </li>

    <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="**">Not Found</a>
    </li>
    

</ul>
</div>

<router-outlet></router-outlet> -->
