
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center register-login form-group">

                <form [formGroup]="registrationForm" (ngSubmit)="register()">
                    <span class="form-logo">
                        <img class="logo" src="assets/airplane.ico" width="80px" height="80px">                
                    </span>
                    <span class="form-title text-bold heading-color">Sign Up</span>
                    <div class="mb-3 InputWithIcon">
                        <input formControlName="userName" type="text" class="form-control wrap-input" aria-describedby="namehelp" placeholder="User Name" required>
                        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <div class="mb-3 InputWithIcon1 col">
                            <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
                            <input formControlName="firstName" type="text" class="form-control wrap-input" id="Fname" aria-describedby="namehelp" placeholder="First Name" required>
                            <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="mb-3 InputWithIcon1 col">
                            <input formControlName="lastName" type="text" class="form-control wrap-input" id="Lname" aria-describedby="namehelp" placeholder="Last Name" required>
                            <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="mb-3 InputWithIcon">
                        <input formControlName="mobileNo" type="text" class="form-control wrap-input" id="number" placeholder="Mobile Number" required>
                        <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    
                    <div class="mb-3 InputWithIcon">
                        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                        <input formControlName="emailId" type="email" class="form-control wrap-input" id="email" placeholder="Email Id" required>
                        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                    </div>

                    <div class="mb-3 InputWithIcon">
                        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                        <input formControlName="password" type="password" class="form-control wrap-input" id="pass" placeholder="Password" required>
                        <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
                    </div>

                    <div class="mb-3 InputWithIcon">
                        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                        <input formControlName="confirmPassword" type="password" class="form-control wrap-input" id="Cpass" placeholder="Confirm Password" required>
                        <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
                    </div>

                        <div class="container-form-btn">
                            <button type="submit" class="form-btn btn btn-primary mb-2">Sign Up</button>
                        </div>
                    
                </form>
                <a class="txt1 text-right" style="color:#fff;" routerLink="/login">Already Registered? Click to Login!!</a>
            </div>
        </div>
    </div>
</div>
